<!-- templates/admin.html -->
<!-- use the base.html file -->
{% extends 'base.html' %}

{% block title %}Admin{% endblock %}
{% block styling %}
<style>
.btn:hover {
    cursor: pointer;
}
.graph {
    float: left;
    margin-left: 2%
}
</style>
{% endblock %}
{% block content %}

<a href="{% url 'home' %}">Home</a>
<br>
<h1>Hi Admin!</h1>
<table>
    <tr> <td> Seats available: </td> <td> {{available}} </td> <td> ... </td> <td> {{available_perc}}% </td> </tr>
    <tr> <td> Seats reserved: </td> <td> {{occupied}} </td> <td> ... </td> <td> {{occupied_perc}}% </td> </tr>
    <tr> <td> User number: </td> <td> {{user_count}} </td> </tr>
</table>

<form action="" method="POST">
    {% csrf_token %}
    <button name="stats" class="btn"> Download text file </button>
</form>
<br>
{% for graph in graphs %}
    {% autoescape off %}
    <div class="graph">
    {{ graph }}
    </div>
    {% endautoescape %}
{% endfor %}

{% endblock %}
