<!-- templates/admin.html -->
<!-- use the base.html file -->
{% extends 'base.html' %}

{% block title %}Admin{% endblock %}
{% block styling %}
<style>
.btn:hover {
    cursor: pointer;
}
.graph {
    float: left;
    margin-left: 2%
}
</style>
{% endblock %}
{% block content %}

<a href="{% url 'home' %}">Home</a>
<br>
<h1>Hi Admin!</h1>
User number: {{user_count}}
<br>
<br>
Flight 1
<table>
    <tr> <td> Seats available: </td> <td> {{available1}} </td> <td> &nbsp&nbsp&nbsp&nbsp&nbsp </td> <td> {{available_perc1}}% </td> </tr>
    <tr> <td> Seats reserved: </td> <td> {{occupied1}} </td> <td>  </td> <td> {{occupied_perc1}}% </td> </tr>
</table>
<br>
Flight 2
<table>
    <tr> <td> Seats available: </td> <td> {{available2}} </td> <td> &nbsp&nbsp&nbsp&nbsp&nbsp </td> <td> {{available_perc2}}% </td> </tr>
    <tr> <td> Seats reserved: </td> <td> {{occupied2}} </td> <td>  </td> <td> {{occupied_perc2}}% </td> </tr>
</table>
<br>
Flight 3
<table>
    <tr> <td> Seats available: </td> <td> {{available3}} </td> <td> &nbsp&nbsp&nbsp&nbsp&nbsp </td> <td> {{available_perc3}}% </td> </tr>
    <tr> <td> Seats reserved: </td> <td> {{occupied3}} </td> <td>  </td> <td> {{occupied_perc3}}% </td> </tr>
</table>
<br>
Flight 4
<table>
    <tr> <td> Seats available: </td> <td> {{available4}} </td> <td> &nbsp&nbsp&nbsp&nbsp&nbsp </td> <td> {{available_perc4}}% </td> </tr>
    <tr> <td> Seats reserved: </td> <td> {{occupied4}} </td> <td>  </td> <td> {{occupied_perc4}}% </td> </tr>
</table>

<form action="" method="POST">
    {% csrf_token %}
    <button name="stats" class="btn"> Download text file </button>
</form>
<br>
{% for graph in graphs %}
    {% autoescape off %}
    <div class="graph">
    {{ graph }}
    </div>
    {% endautoescape %}
{% endfor %}

{% endblock %}
