<!-- templates/admin.html -->
<!-- use the base.html file -->
{% extends 'base.html' %}

{% block title %}Admin{% endblock %}
{% block styling %}
<style>
.btn:hover {
    cursor: pointer;
}
.graph {
    float: left;
    margin-left: 2%
}
</style>
{% endblock %}
{% block content %}

<a href="{% url 'home' %}">Home</a>
<br>
<h1>Hi Admin!</h1>
User number: {{user_count}}
<br>
<br>
{% for flight in flight_stats %}
{{ flight.name }}
<table>
    <tr> <td> Seats available: </td> <td> {{flight.available}} </td> <td> &nbsp&nbsp&nbsp&nbsp&nbsp </td>
        <td> {{flight.available_perc}}% </td> </tr>
    <tr> <td> Seats reserved: </td> <td> {{flight.occupied}} </td> <td>  </td> <td> {{flight.occupied_perc}}% </td> </tr>
</table>
<br>
{% endfor %}

<form action="" method="POST">
    {% csrf_token %}
    <button name="stats" class="btn"> Download text file </button>
</form>
<br>
{% for graph in graphs %}
    {% autoescape off %}
    <div class="graph">
    {{ graph }}
    </div>
    {% endautoescape %}
{% endfor %}

{% endblock %}
