<!-- templates/base.html -->
<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
<!-- you can use a different title by using the block, the default title is boeing -->
  <title>{% block title %}boeing{% endblock %}</title>
  {% block styling %}
  {% endblock styling %}
  <style>
    a:link {
      color: blue;
      text-decoration: none;
    }
    a:visited {
      color: blue;
      text-decoration: none;
    }
    a:hover {
      color: purple;
      text-decoration: none;
      font-size: 102%;
    }
    a:active {
      color: blue;
      text-decoration: none;
    }
  </style>
</head>
{% block body %}
<body>
{% endblock %}
  <main style="font-size:1.7vmin">
    <!-- This is the main block where we will insert different types of content -->
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
