<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Booking{% endblock %}


{% block content %}

{% if user.is_logged_in %}
    Hi {{ user.username }}!

    <form action="" method="POST">
    {% csrf_token %}
    {% for seat in seats %}
        {% if seat in left_seat %}
            {% if seat < 10 %}
                <br>
                <br>
              {{seat}}&ensp;&nbsp;
            {% else %}
                <br>
                <br>
              {{seat}}&nbsp;
            {% endif %}
            {% firstof seat as x %}
        {% elif seat == "middle" %}
            |&emsp;|
        {% elif seat == "X" %}
            <input name="{{x}}" type="checkbox" onclick="return false" disabled="disabled"> {{ seat }}
        {% else %}
            <input name="{{x}}" type="checkbox" value="{{ seat }}"> {{ seat }}
        {% endif %}
    {% endfor %}
    <br><br>
    <input type="submit" value="Submit">
    </form>

{% else %}
    <h2> You are not logged in, login to gain access to this page </h2>
    <a href="{% url 'login' %}">Login</a>
    <br><br>
    <a href="{% url 'signup' %}">Signup</a>
{% endif %}

{% endblock %}
