<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Booking{% endblock %}


{% block content %}

{% if user.is_authenticated %}
    Hi {{ user.username }}!

    <form action="" method="POST">
    {%  csrf_token %}
    <div>
    {% for seat in seats %}
        {% if seat in middle_seat %}
            |&emsp;|
        {% endif %}
        {% if seat in left_seat %}
            {% firstof seat as x %}
            <br>
            <br>
            {{seat}}
        {% elif seat == "X" %}
          <input name="{{x}}" type="checkbox" onclick="return false" disabled="disabled"> {{ seat }}
        {% else %}
          <input name="{{x}}" type="checkbox" value="{{ seat }}"> {{ seat }} 
        {% endif %}
    {% endfor %}
    </div>
    <input type="submit" value="Submit">
    </form>

{% else %}
    <h2> You are not logged in, login to gain access to this page </h2>
    <a href="{% url 'login' %}">Login</a>
    <br><br>
    <a href="{% url 'signup' %}">Signup</a>
{% endif %}

{% endblock %}
