<!-- templates/home.html-->
<!-- use the base.html file -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block styling %}
<style>
input[type="checkbox"] {
    display: inline-block;
    width: 2.5vmin;
    height: 2.5vmin;
    border: 1px solid black;
    line-height: 2.5vmin;
    cursor: pointer;
}
input[type="submit"] {
    cursor: pointer;
}
</style>
{% endblock %}

{% block content %}

<div style="position: relative">
{% if logged_in %}
    <div style="float: left; margin-left: 2%">
    <p><a href="{% url 'help' %}#home_page">Help Page</a></p>
    <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% if is_superuser %}
      <p><a href="{% url 'admin' %}">Admin</a></p>
    {% endif %}
    </div>
    <div style="float: left; margin-left: 30%">
      <h1> Hi {{ username }}!</h1>
      <p style="font-size: 120%; margin-left: -20%">What is todays destination going to be?</p><br>
      <h2 style="font-size: 200%; margin-left: -13%"> <a href="{% url 'overview' %}">Our current flights</a> </h2>
    </div>
{% else %}
    <div style="float: left; margin-left: 2%">
    <a href="{% url 'login' %}">Log In</a>
    <br><br>
    <a href="{% url 'signup' %}">Sign Up</a>
    <br><br>
    <a href="{% url 'help' %}#not_logged_in">Help Page</a>
    <br><br>
    </div>
    <div style="float: left; margin-left: 30%">
        <h1>Welcome to our Airline Seat Reservation</h1>
        <h2>You are not logged in</h2>
        <h3> <a href="{% url 'overview' %}">Our current flights</a> </h3>
    </div>
{% endif %}
<div style="float:right; margin-right:2%">
{% if booked_seats %}
    <h2> Your booked seats: </h2>
    <form action="" method="POST">
    {% csrf_token %}
    {% for seat in booked_seats %}
        <input name="{{ seat }}" type="checkbox" class="checkbox">
        <label> {{ seat }} </label>
        <br><br>
    {% endfor %}
    <input type="submit" value="Cancel the checked"
           onclick="return confirm('Are you sure you want to cancel the selected seats?')">
    </form>
{% endif %}
</div>
</div>


{% endblock %}
