<!-- templates/overview.html -->
<!-- use the base.html file -->
{% extends 'base.html' %}

{% block title %}Flights{% endblock %}

{% block content %}
    <p><a href="{% url 'home' %}">Home</a></p>
<p><a href="{% url 'help' %}#overview">Help Page</a>
</p>


<h1> These are our current Flights:</h1>
    <br>
{% for flight in flights %}
<div style="float:left; margin-left:5%">
    <h2><a href="{% url flight.name %}"> {{ flight.route }} </a></h2>
    <pre>
        {{ flight.data }}
    </pre>
</div>
{% endfor %}

{% endblock %}
