<!-- templates/registration/login.html -->
<!-- use the base.html file -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<h2> Are you sure that you want to delete your account? If so, check your mail for the confirmation code. </h2>

<form method="post">
    {% csrf_token %}
    {% if sent %}
        {{ form.as_p }}
        <input type="text" name="confirmationcode" required>
        <br><br>
        <button type="submit" onclick="return confirm('Are you sure you want to delete your account?')">Confirm</button>
    {% else %}
        <button name="sentmail" class="btn">Send Email</button>    
    {% endif %}
</form>

<p>If you don't want to delete it, just ignore the email you received.</p>
<a href="{% url 'home' %}">Home.</a>
{% endblock %}
